body {
  font-family: Arial, sans-serif;
  background-color: #f6eedf;
}

h1 {
  color: #d63447;
  font-size: 37px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 8px;
  margin-top: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #f57b51;
  opacity: 0.9;
  font-size: 16px;
  font-weight: 100px;
  line-height: 19px;
}

li:first letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 3px solid #fff;
  border-radius: 15px;
  background-color: #d1cebd;
  margin-bottom: 10px;
}

.overview {
  margin-bottom: 20px;
}

.form-control {
  color: #d1cebd;
}

.btn {
  background-color: #f57b51;
  border: none;
  color: #f6eedf;
}

.btn:hover {
  background-color: #d63447;
  transition: all 0.5s ease-out;
}

.weather-temperature img {
  margin-right: 5px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 60px;
  line-height: 88px;
  font-weight: 700;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.humidity,
.wind {
  position: relative;
  bottom: -20px;
}

.weather-forecast {
  margin-top: 60px;
  text-align: center;
  color: #d63447;
  font-weight: 700;
  font-size: 18px;
}

.weather-forecast-date {
  opacity: 0.6;
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
  font-weight: 400;
}

.weather-forcast-temperatures {
  font-size: 13px;
}

.open-source {
  font-family: "Courier New", Courier, monospace;
  color: #f57b51;
}
.coded-by {
  color: #f57b51;
}
.coded-by:hover {
  color: #d63447;
}

.open-source-link {
  color: #f57b51;
}

.open-source-link:hover {
  color: #d63447;
}
